body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url('../../pexels-siljeao-264851155-35560482.jpg');
    background-size: cover;
}

.nav-home{
    display: flex;
    justify-content: center;
    background-color: #333;
    color: white;
}

ul.topnav{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

ul.topnav li {float: left;}

ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: #111;}

ul.topnav li a.active {background-color: #04AA6D;}

ul.topnav li.right {float: right;}

@media screen and (max-width: 600px) {
    ul.topnav li.right, 
    ul.topnav li {float: none;}
}


img{
    width: 200px;
    height: 200px;
    object-fit: cover;
}


.title-card{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 400px;
    background-color: #333;
    color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 20px;
}

.banner{
    display: flex;
    justify-content: center;
    color: white;
    overflow: hidden;
    background-color: #333;
}

.section-main{
    display: flex;
    justify-content: center;
    overflow: hidden;
    background-color: #333;
    color: white;
}

.container{
    display: flex;
    padding-top: 15px;
    justify-content: space-between;
    align-items: center;
}

.container-about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: max-content;
    gap: 20px;
}

.primary-paragraph{
    font-size: 18px;
    line-height: 1.6;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

.second-paragraph{
    font-size: 18px;
    line-height: 1.6;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

.header-about{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}