ul.topnav{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

ul.topnav li {float: left;}

ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: #111;}

ul.topnav li a.active {background-color: #04AA6D;}

ul.topnav li.right {float: right;}

@media screen and (max-width: 600px) {
    ul.topnav li.right, 
    ul.topnav li {float: none;}
}


img{
    width: 200px;
    height: 200px;
    object-fit: cover;
}


.title-card{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.banner{
    display: flex;
    justify-content: center;
    color: white;
    overflow: hidden;
    background-color: #333;
}

.section-main{
    display: flex;
    justify-content: center;
    overflow: hidden;
    background-color: #333;
    color: white;
}

.container{
    display: flex;
    padding-top: 15px;
    justify-content: space-between;
    align-items: center;
}